<div class="w3-card">
<h2>Cadastre um novo Estacionamento</h2>
<div class="col-md-4">
  <form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="formGroupExampleInput" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Capacidade</label>
      <input type="number" [(ngModel)]="size" name="size" class="form-control" id="formGroupExampleInput2" placeholder="capacidade de veiculos">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Quantidade de entradas</label>
        <input type="number" [(ngModel)]="entracenumber" name="entracenumber" class="form-control" id="formGroupExampleInput2" placeholder="entradas">
      </div>
    <div class="">
        <button type="" class="btn btn-primary">Salvar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button>     
      </div>
  </form>
</div>
</div>