
<div class="col-md-12">
    <div class="form-group">
        <label class="control-label" for="inputLarge"><h1>Insira o codígo</h1></label>
        <input class="form-control input-lg" type="text" id="inputLarge">
      </div>



<!-- <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h1>Atenção</h1>
    <h2>Saida permitida <a href="#" class="alert-link">Boa viagem!!!</a>.</h2>
  </div>-->

  <!--<div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h1>Codigo aceito</h1>
      <h2>Entrada permitida <a href="#" class="alert-link">Bem vindo</a>.</h2>
    </div> -->


   <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h1>Codigo negado</h1>
        <h2>Entrada barrada <a href="#" class="alert-link">verifique o motivo</a>.</h2>
      </div>
  


</div>