
<a class="btn btn-primary btn-lg" [routerLink]="['/novo']">Criar Novo</a>


<div class="col-md-12">
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Estacionamento-01</div>
        <div class="panel-body">
            <p>Capacidade 10 Veículos </p>
             <a [routerLink]="['/entradas']" class="btn btn-success">Iniciar</a> 
            <a [routerLink]="['/codigos']" class="btn btn-primary">gerar codígos de entrada</a>
        </div>
      </div>
      
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Estacionamento-02</div>
        <div class="panel-body">
            <p> Capacidade 20 Veículos </p> <a [routerLink]="['/entradas']" class="btn btn-success">Iniciar</a>
            <a [routerLink]="['/codigos']" class="btn btn-primary">gerar codígos de entrada</a>
        </div>
      </div>
      
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Estacionamento-03</div>
        <div class="panel-body">
        <p>Capacidade 102 Veículos </p> <a [routerLink]="['/codigos']" class="btn btn-success">Iniciar</a>
        <a [routerLink]="['/codigos']" class="btn btn-primary">gerar codígos de entrada</a>
        </div>
      </div>
      
</div>
</div>